<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKOuQGq-OkC9k5ibSdH4QmnNv5KQ8m9Dk</string>
	<key>GCM_SENDER_ID</key>
	<string>128457266349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.greenhouseProject</string>
	<key>PROJECT_ID</key>
	<string>greenhouse-ctrl-system</string>
	<key>STORAGE_BUCKET</key>
	<string>greenhouse-ctrl-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128457266349:ios:e83dae8dd8882f91172224</string>
	<key>DATABASE_URL</key>
	<string>https://greenhouse-ctrl-system-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>